<main>
  <section class="section section-shaped section-lg">
     <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div> 
   
<!-- <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card bg-secondary shadow border-0">
          <div class="card-body px-lg-5 py-lg-5">
          --> 

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-18">
        <div class="row row-grid">
            <div class="card border-0" style="float: right; width: 630px;">
              <div class="card-body py-4"> </div>
            </div>
    
          <div class="col-lg-4">
            <div class="card border-0" style="float: left; width: 350px;">
              <div class="card-body py-3">
              

    <form [formGroup]="angForm" novalidate>
      <label>Add items</label>
      <select ngModel class="form-select" name="NAME">
          <option value="select">-select-</option>
        <option value="select">Add Product Name</option>
        <option>Product ID</option>
        <option>Images</option>
        <option>Description</option>
        <option>Quantity</option>
        <option>Price</option>
     </select>
    </form>
  
    
    </div>
    </div>
    </div>
    </div>
    </div>
  </div>
  </div>
 </section>
  </main>
                    
  